body{
  background-image:url(https://www.pexels.com/photo/clouds-dawn-daylight-dusk-605494/);
  background-size:cover;
}

div.header{
  border: 2px solid white;
  height: 200px;
  width: 40%;
}

.header h1{
  font-family: Kite One;
  font-size: 85px;
  color: white;
  letter-spacing: 2px;
}

p1{
  font-family: Lato;
  font-size: 30px;
  color: white;
  letter-spacing: 1.7px;
}
